.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

#dotenv-vault
.env*
.flaskenv*
!.env.project
!.env.vault
